body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://cdn.pixabay.com/photo/2021/08/25/12/45/phishing-6573326_1280.png);
    background-position-y:center;
    background-repeat: no-repeat;
    background-size: cover;
}
*{
font-family: "Josefin Sans", sans-serif;
font-optical-sizing: auto;
}
.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 8px 10px 19px black;
    width: 300px;
}
.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.login-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login-container button:hover {
    background-color: #45a049;
}