body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://cdn.pixabay.com/photo/2022/09/21/18/45/cash-register-7470993_1280.jpg);
    background-position-y:center;
    background-repeat: no-repeat;
    background-size: cover;
}
.registration-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.registration-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.registration-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
.registration-container input[type="text"],
.registration-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.registration-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.registration-container button:hover {
    background-color: #45a049;
}

*{
font-family: "Josefin Sans", sans-serif;
font-optical-sizing: auto;
} 